@import url(reset.css);

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #373736;
    font-size: 14px;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: #373736;
}

a:hover{
    color: #cd8d00;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
    background-color: #f6eee2;
}

h1{
    font-size: 2rem;
    text-align: center;
    color: #333;
}

p{
    text-align: center;
}


/* -----top menu----- */
.nav{
    width: auto;
    height: 70px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav img{
    width: 80px;
    margin-right: 20px;
}

.soc{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.soc li{margin-right: 10px;}

.soc li a{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/sprite.png);
}

.soc .md1{background-position: 0px 0px;}
.soc .md2{background-position: 0px -50px;}
.soc .md3{background-position: 0px -100px;}

.soc .md1:hover{background-position: -50px 0px;}
.soc .md2:hover{background-position: -50px -50px;}
.soc .md3:hover{background-position:-50px -100px;}

.soc li a:hover{}

.menu-all{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    
}

.menu li {
    margin-right: 20px;
}

.menu li a{
    display: block;
    line-height: 70px;
}

.menu li a:hover{
    border-bottom:2px solid #cd8d00;
}


/* 會員登入和搜尋 */

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 會員登入 */
.login {
    font-size: 0.85rem;
    margin-right: 10px;
    transition: all 0.2s;
    text-decoration: none;
    padding: 5px 25px;
    border: 1px solid #cd8d00;
    border-radius: 20px;
    color: #cd8d00;
}

.login:hover {
    border: 1px solid rgb(205, 141, 0);
    background-color: #cd8d00;
    color: #fff;
}

/* 搜尋 */
.search-box {
    position: relative;
}

.search-box input[type="search"] {
    width: 250px;
    height: 35px;
    border: 1px solid #cd8d00;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    outline: none;
    color: #cd8d00;
    font-size: 0.9rem;
    padding-right: 30px;
}

.search-box span.fa-magnifying-glass {
    font-size: 20px;
    color: #cd8d00;
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.search-box .fa-magnifying-glass:hover {
    transform: scale(1.2);
}

.nav i{
    font-size: 1.5rem;
    margin: 10px;
    display: none;
}

/* ----- KV ----- */
.head{
    margin: 20px auto 0px auto;
    background-image: url(../img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-size: cover;
    height: 500px;
    opacity: .7;
}

.head h1{
    font-size: 1.5rem;
    padding-top: 150px;
    margin: 0 auto 20px 500px;
    color: #373736;

}

.head p{
    font-size: 1rem;
    padding-top: 20px;
    margin: 0 auto 20px 500px;
    color: #333;

}

.head .rwdp1{
    display: none;
}

/* -----Slider main container----- */

.swiper {
    width: 100%;
    /* height: 1080px; */
  }

.swiper-slide img{
    width: 100%;
}

.area1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.area1 img{
    width: 60%; 
    order: 2;
    opacity: .8;
}

.area1 a{
    display: block;
    width: 60px;
    height: 60px;
    background-color: #cd8d00;
    
}

/* .area1 a:before{
    content: '';
    display: block;
    width: 0;
    right: 0;
    border: 20px solid #fff;
}

.area1 .lar{
    order: 1;
    position: absolute;
    left: 60px;
    top: 540px;
}

.area1 .rar{
    order: 3;
    position: absolute;
    right: 60px;
    top: 540px;
}

.area1 .lar:before{
    border-color: transparent #fff transparent transparent;
    margin: 10px 10px 0 0;
}

.area1 .rar:before{
    border-color: transparent transparent transparent #fff;
    margin: 10px 0 0 22px;
} */



/* -----area 2----- */
.area2 h1 {
    color: #373736;
    margin: 50px 0;
}

.area2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.area2 li {
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 0 0 calc(16.6667% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;

    

    position: relative;
    overflow: hidden;
}

.area2 ul li img{
    border-radius: 15px;
}

.area2 a {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    /* background-color: #fff; */
    transition: all 0.3s;
}

.area2 a:hover {
    opacity: 1;
}

.area2 img {
    display: block;
    width: 100%;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.product-img {
     height: 150px;
}

.area2 a:hover img{
    opacity: 1;
}

/* -----area 3----- */
.area3{
    position: relative;
}

.area3 .bgi{
    width: 100%;
    opacity: .4;
}

.area3 .a3txt{
    color: #333;
    width: 600px;

    position: absolute;
    left: 100px;
    top: 50px;

    opacity: .8;
}

.area3 .a3txt h1{
    margin-bottom: 10px;
}

.area3 .a3txt p{
    text-align:center;
    font-size: 1.2rem;
}

.area3 .loc{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    left: 120px;
    top: 200px;

    
    
}

.area3 .loc li {
    margin: 10px;
    width: 250px;
    
        
}

.area3 .loc li a{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    color: #000;
        
}

.area3 .loc li h2{
    font-size: 2rem;
    position: absolute;

}

.area3 .loc li img{
    width: 100%;
    border-radius: 30px; 
}

.area3 .loc li a:hover{
    opacity: 1;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,.5);
    
}

.area3 .loc li a:hover img{
    border-radius: 0;
}



/* -----footer----- */
.footer{
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 60px ;
}

.footer .menuf{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.footer .menuf li{
    margin-right: 15px;
}

.footer .menuf a{}

.socf{
    display: flex;
}

.socf li{
    margin-right: 5px;
}

.socf li a{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/sprite.png);
}

.socf .mdf1{background-position: 0px 0px;}
.socf .mdf2{background-position: 0px -50px;}
.socf .mdf3{background-position: 0px -100px;}

.socf .mdf1:hover{background-position: -50px 0px;}
.socf .mdf2:hover{background-position: -50px -50px;}
.socf .mdf3:hover{background-position:-50px -100px;}